* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.App {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.Header {
  background-color: darkorange;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.Item {
  background-color: rgb(243, 172, 7);
  padding: 0.9em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  width: auto;
  text-transform: capitalize;
}

.Items {
  margin: 1em 9em;
  padding: 1em;

  background-color: darkslateblue;
}
.AddItem {
  margin: 1em 9em;
  padding: 1em 3em;
  border: solid rgb(243, 172, 7) 1px;
  /* border-radius: 8px; */
  width: fit-content;
  z-index: -2;
}

input {
  margin: 0.4em 0;
  padding: 0.3em 1em;
  font-size: x-large;
  border: none;
  color: black;
  text-transform: capitalize;
}

.AddIcon {
  position: relative;
  left: 80%;
  background-color: darkorange;
  border-radius: 50%;
  padding: 0.2em;
  cursor: pointer;
  z-index: 0;
}
